* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Luckiest Guy', cursive;
}

body {
  margin: 50px;
  text-align: center;
  background-color: skyblue;
}

header{

  margin-bottom: 8px;
}

h1 {
  text-shadow: 1px 1px black;
  font-size: 3em;
  letter-spacing: 2px;
  font-family: 'Luckiest Guy', cursive;
  color: white;
}

h2 {
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 1px black;
  font-size: 0.8em
  font-family: 'Luckiest Guy', cursive;
  color: deeppink;
}

h3 {
  letter-spacing: 2px;
  font-size: 0.8em;
}

.row{
    display: table;
    content: "";

    clean:both;
}

header{
  display: inline-block;
}

main{
  margin: 25px 0;

}

.carta-coperta {
  box-shadow: 1px 1px black;
  float: left;
  margin: 8px;
  padding: 20px;
  background-color: #ffffff;
  opacity: 1;
  background-image:  linear-gradient(135deg, #ff1493 25%, transparent 25%), linear-gradient(225deg, #ff1493 25%, transparent 25%), linear-gradient(45deg, #ff1493 25%, transparent 25%), linear-gradient(315deg, #ff1493 25%, #ffffff 25%);
  background-position:  11px 0, 11px 0, 0 0, 0 0;
  background-size: 22px 22px;
  background-repeat: repeat;
  display: inline-block;
  width: 200px;
  height: 250px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}

#carta-memory{
  box-shadow: 1px 1px black;
  margin: 0 auto;
  padding: 80px;
  background-color: white;
  background-size:cover;
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 250px;
  position: absolute;
  top:0;
  right:0;
  border-radius: 15px;
}
.carta-scoperta {
  display: none;
}

.carta-coperta:hover .carta-scoperta {
  box-shadow: 1px 1px black;
  margin: 0 auto;
  padding: 80px;
  background-color: white;
  background-size:cover;
  display: inline-block;
  position: absolute;
  z-index: 2;
  width: 200px;
  height: 250px;
  position: absolute;
  top:0;
  right:0;
  border-radius: 15px;
}

.carta-scoperta>img {
  width: 200px;
  position: absolute;
  top:5px;
  left:5px;
}

.carta-scoperta>h2 {
  width: 100%;
  display: block;
  position: absolute;
  bottom:0px;
  right: 0px;
}
